.app {
  background-image: url("img/pusheen.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: null;
  height: 100vh;
  width: 100vw;
}

.home {
  padding-top: 12%;
  width: 50vw;
}

.all {
  padding-top: 10%;
  width: 50vw;
}

@media (max-width: 425px) {
  .app {
    background-position: 40% 75%;
  }

  .home {
    padding-top: 25%;
    width: 390px;
  }

  .all {
    width: 390px;
  }
}
